.div05 {
	width: 300px;
	height:300px;
	margin:auto;
	margin-bottom: 70px;
}
.div05 img {
	width:300px;
	height:auto;
}
.appoftheweek {
	text-align: center;
}
.div45 {
	width: 100%;
	height: auto;
	text-align: center;
	color: black;
}
.div451 {
	width: 400px;
	height:200px;
	background-image: radial-gradient(circle, green, black);
	margin: auto;
	margin-top: 20px;
	}
.span23 {
	color: red;
}
.div576 {
	width:400px;
	height:auto;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0,0, 0.20);
	margin: auto;
	margin-top: 20px;
}
.div576 img {
	width:300px;
	height:auto;
	margin: auto;
}
	